In [1]:
import pandas as pd
india_weather = pd.DataFrame({
    "city":["mumbai","delhi","bangalore"],
    "temperatures":[35,28,24],
    "windspeed":[8,5,7]
    })

us_weather = pd.DataFrame({
    "city":["new york","jersey","dallas"],
    "temperatures":[31,28,29],
    "windspeed":[3,6,8]
    })
india_weather

        city  temperatures  windspeed
0     mumbai            35          8
1      delhi            28          5
2  bangalore            24          7

In [3]:
df = pd.concat([india_weather, us_weather],ignore_index=True)
df

        city  temperatures  windspeed
0     mumbai            35          8
1      delhi            28          5
2  bangalore            24          7
3   new york            31          3
4     jersey            28          6
5     dallas            29          8

In [5]:
df = pd.concat([india_weather, us_weather],keys=["india", "us"])
df

              city  temperatures  windspeed
india 0     mumbai            35          8
      1      delhi            28          5
      2  bangalore            24          7
us    0   new york            31          3
      1     jersey            28          6
      2     dallas            29          8

In [7]:
df.loc["us"]

       city  temperatures  windspeed
0  new york            31          3
1    jersey            28          6
2    dallas            29          8

In [9]:
s = pd.Series(["humid","snow","rain"], name="event")
s

0    humid
1     snow
2     rain
Name: event, dtype: object

In [13]:
df = pd.concat([us_weather, s], axis=1)
df

       city  temperatures  windspeed  event
0  new york            31          3  humid
1    jersey            28          6   snow
2    dallas            29          8   rain

Empty DataFrame
Columns: [city, temperatures_x, windspeed_x, temperatures_y, windspeed_y]
Index: []