In [16]:
import pandas as pd
df = pd.read_csv("stock_data.csv",na_values={
    "eps":["not available","n.a."],
    "revenue":["not available","n.a.",-1],
    "people":["not available","n.a."]
})
df

  tickers    eps  revenue price         people
0   GOOGL  27.82     87.0   845     larry page
1     WMT   4.61    484.0    65            NaN
2    MSFT  -1.00     85.0    64     bill gates
3    RIL     NaN     50.0  1023  mukesh ambani
4    TATA   5.60      NaN  n.a.     ratan tata

In [21]:
df.to_csv("new.csv",columns=["price", "people"], index=False)